<%- include("head.ejs") %>

<body>
    <div class="container">
        
        <div class="header"><h2>Hobey</h2></div>
        <div class="right-menu">
            <ul class="top-nav">
                <li><a href="/home">Home</a></li>
                <li><a href="/chat">Chat</a></li>
            </ul>
        </div>
        
        <div id="video-container"></div>
    </div>
    <script>
        const CHANNEL_ID = "<%= channelId %>";
    </script>
    <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script defer src="script.js"></script>
</body>
</html>