<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hobey: Video Messaging</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div>
        <ul class="top-nav">
            <li><a href="/">Video</a></li>
            <li><a href="/chat">Chat</a></li>
        </ul>
    </div>
    <div class="top-message">Secure Video Messaging for Work</div>
    <div class="container">
        <div class="header">
            <h1>Hobey</h1>
        </div>
    </div>
</body>

</html>