<%- include("head.ejs") %>

<body>
    <div>
        <ul class="top-nav">
            <li><a href="/">Video</a></li>
            <li><a href="/chat">Chat</a></li>
        </ul>
    </div>
    <div class="top-message">Secure Video Messaging for Work</div>
    <div class="container">
        <div class="header">
            <h1>Hobey</h1>
        </div>
    </div>
</body>

</html>